
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.barra-pesquisa-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.input-text-pesquisa {
    height: 40px;
    width: 230px;
    background: #fff;
    padding: 0 15px;
    font-size: 14px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    outline: none;
}

.butao-pesquisa {
    height: 40px;
    width: 70px;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #007bff;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.butao-pesquisa:hover {
    background-color: #0056b3;
}

.logo-header{
    height: 40px;
    width: 150px;
}

.fundo-logo-header{
    padding-left: 10px;
    padding-right: 10px;
}




/* teste dropdown */

.dropdown-menu{
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
}

.dropdown-menu a{
    display: block;
    color: black;
}

.dropdown:hover .dropdown-menu{
    display: block;
}


/* original */
    
html{
    height: 500vh;
    background-color: #000;
}

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
}

header.rolagem{
    background-color: #ff0000;
    padding: 20px 4%;
}

header.rolagem a, header.rolagem i{
    color: #000000;
}

header i{
    font-size: 30px;
    color: #fff;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color: #fff;
    text-decoration: none;
}

.btn-contato button{
    width: 120px;
    height: 40px;
    border: 0;
    background-color: #FE775A;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}

.banner{
    height: 100vh;
    background-image: url(imagens/banner.jpg);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1{
    font-size: 4em;
}

.banner h1 span{
    color: #FFAE81;
}